<h1>INHABITENT JOURNAL</h1>
<!-- 	<div class="owl-carousel owl-theme" *ngIf="journals">
		<div *ngFor = "let journal of journals" class="postItem">
				<div class="thumbnail-img">
					<img src={{journal.image}}>
				</div>
				<div class="post-quickInfo">
					<p>{{journal.date}}</p> 
					<h3>
						<a [routerLink]="['/journal-entry', journal.ID]">
						{{journal.title}}
						</a>
					</h3>
				</div>
				<a [routerLink]="['/journal-entry', journal.ID]" class="btn">
					READ ENTRY
				</a>
				
		</div>
	</div> -->