<div class="navBar">
	<div>
		<img id="homeLogo" class="navIcon" src="../../assets/images/logos/inhabitent-logo-tent-white.svg">
	</div>
	
	<div class="flex">
		<nav>
			<ul>
				<li><a href="#">SHOP</a></li>
				<li><a href="#">JOURNAL</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">FIND US</a></li>
			</ul>
		</nav> 

		<form class="flex">
			<img class="navIcon" src="../../assets/images/searchIcon.png">
			<input type="text" name="search" placeholder="search">
		</form>
	</div>	
</div>